.student table{
    border: 1px solid black;
    width: 300px;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.student table td,
.student table th{
    text-align: left;
    border: 1px solid black;
    padding: 5px 10px;
}

.student table th{
    width: 100px;
}